body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 34px;
    background: url("../images/wood.png");
    color: black;
  }
  .grid-container {
    position: relative;
    display: grid;
    border: lightblue;
    border-style: solid;
    background-color: white;
  }
  .item1 {
    grid-column-start:1;
    grid-column-end:8;
    grid-row-start:1;
    grid-row-end:2;
    
    }
    .item2 {
    grid-column-start:6;
    grid-column-end:8;
    grid-row-start:1;
    grid-row-end:2;
    }
    .item3 {
      grid-column-start:8;
      grid-column-end:10;
      grid-row-start:1;
      grid-row-end:2;
    }
    .item4 {
      grid-column-start:10;
      grid-column-end:12;
      grid-row-start:1;
      grid-row-end:2;
    }